.work-experience {
  border: unset;
}

.work-experience>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.work-experience>ul>li:not(:first-child) {
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color)
}

.work-experience>ul>li a.button {
  border: 2px solid black!important;
  background: unset!important;
  color: black!important;
}

.work-experience>ul>li a.button::after {
  content: ' >';
}

.work-experience>ul>li a.button:hover {
  border: 2px solid black!important;
  background: black!important;
  color: white!important;
}

.work-experience>ul>li {
  padding: 2rem;
}

.work-experience>ul>li img {
  max-width: 20rem;
}

.work-experience .work-experience-card-body {
  margin: 16px;
}

.work-experience .work-experience-card-image {
  line-height: 0;
}

.work-experience .work-experience-card-body>*:first-child {
  margin-top: 0;
}